.so-widget-sow-post-carousel-default-77a6ef9a0fc3 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  width: 135px;
}
.so-widget-sow-post-carousel-default-77a6ef9a0fc3 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
  background-repeat: no-repeat;
  background-size: 135px 135px;
}
.so-widget-sow-post-carousel-default-77a6ef9a0fc3 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-77a6ef9a0fc3 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  width: 135px;
  height: 135px;
}
.so-widget-sow-post-carousel-default-77a6ef9a0fc3 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover {
  background-size: 150px 150px;
}
.so-widget-sow-post-carousel-default-77a6ef9a0fc3 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-default-thumbnail {
  width: 135px;
  height: 135px;
}
.so-widget-sow-post-carousel-default-77a6ef9a0fc3 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-loading {
  width: 135px;
  height: 135px;
}