.so-widget-sow-post-carousel-default-f0184aae3381 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  width: 648px;
}
.so-widget-sow-post-carousel-default-f0184aae3381 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
  background-repeat: no-repeat;
  background-size: 648px 342px;
}
.so-widget-sow-post-carousel-default-f0184aae3381 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a,
.so-widget-sow-post-carousel-default-f0184aae3381 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  width: 648px;
  height: 342px;
}
.so-widget-sow-post-carousel-default-f0184aae3381 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover {
  background-size: 720px 380px;
}
.so-widget-sow-post-carousel-default-f0184aae3381 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-default-thumbnail {
  width: 648px;
  height: 342px;
}
.so-widget-sow-post-carousel-default-f0184aae3381 .sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-loading {
  width: 648px;
  height: 342px;
}